// 动画时长
@transition-duration: 300ms;

// 动画遮罩
.transition-mask(@opacity: 1) {
    &::after {
        content: '';
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .25);
        opacity: @opacity;
        transform: translateZ(0);
        transition: opacity @transition-duration;
    }
}

// 无过渡效果
.delay-leave-active {
    transition-duration: @transition-duration;
}

.route-in-leave-from,
.route-in-enter-from,
.route-out-leave-from,
.route-out-enter-from {
    will-change: transform, opacity;
    backface-visibility: hidden;
    contain: layout paint;
}

.route-in-leave-to,
.route-in-enter-active,
.route-out-leave-active,
.route-out-enter-to {
    pointer-events: none;
    transition: transform @transition-duration cubic-bezier(.34, .8, .25, 1);
}

.route-in-leave-from {
    &::after {
        content: '';
        opacity: 0;
    }
}

.route-in-leave-to {
    .transition-mask();

    transform: translate3d(-15%, 0, 0);
}

.route-in-enter-from {
    transform: translate3d(100%, 0, 0);
}

.route-in-enter-active {
    position: fixed;
    z-index: 1000;
    top: 0;
}

.route-out-leave-active {
    position: fixed;
    z-index: 1000;
    transform: translate3d(100%, 0, 0);
}

.route-out-enter-from {
    &::after {
        content: '';
        opacity: 1;
    }

    transform: translate3d(-15%, 0, 0);
}

.route-out-enter-to {
    .transition-mask(0);

    transform: translate3d(0, 0, 0);
}

/* 淡入效果 */
.fade-enter-active {
    position: fixed;
    z-index: 1000;
    top: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 100ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}