.app-nav-back {
    >.van-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: var(--navbar-height);
        line-height: 1;
        font-size: 18px;
        cursor: pointer;
    }
}